/*  MICROTHEMER STYLES  */


/*
     FILE ARCHIVED ON 04:44:54 Mar 23, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:18:24 Aug 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 206.501
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.084
  RedisCDXSource: 0.805
  esindex: 0.007
  LoadShardBlock: 185.897 (3)
  PetaboxLoader3.datanode: 188.757 (4)
  load_resource: 106.619
  PetaboxLoader3.resolve: 35.547
*/